@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);

body {
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
h1 {
	max-width: 600px;
	width: 100%;
	padding:5px;
    display: block;
    margin: auto;
	padding-left:20px;
}
#header {
	color:#D5DDE5;
	padding:25px 0px 25px 0px;
	background-color: #002b5c;
    display: block;
    margin: auto;
	width:600px;
	box-shadow: 0 25px 25px rgba(0, 43, 92, 0.2);
	border-bottom: 4px solid #d31145;
}
div.table-title {
  display: block;
  margin: auto;
  max-width: 500px;
  padding:5px;
  width: 100%;
}
.hidden{
	display:none;
}
.table-title h3 {
   color: #d31145;
   font-size: 30px;
   font-weight: 300;
   font-style: normal;
   font-family: 'Noto Sans KR', sans-serif;
}
.filters {
	width:600px;
	margin: auto;
	border-bottom:6px solid #d31145;
}
.filters button{
	background-color:#002b5c;
	color:#D5DDE5;
	width:297px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:25px;
}
.table-main {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 25px 25px rgba(0, 43, 92, 0.5);
}
tr:nth-child(odd) td {
  background:#002b5c;
  color:#D5DDE5;
}
th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #d31145;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:22px;
  text-align:left;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  font-weight:600;
  font-size:16px;
  border-right: 1px solid #C1C3D1;
}
